    .mac_selector {
        display: flex; /* To ensure equal width */
    }
    .colored_div {
        width: 50%; /* Equal width for both divs */
        display: inline-block;
        text-align: center;
        padding: 20px;
    }
    select.selector {
        padding: 5px 0px 5px 10px;
        font-size: 15px;
        border-radius: 5px;
    }
    button.add_btn {
        padding: 8px 23px 8px 23px;
        border-radius: 5px;
        border: 0px;
        background-color: black;
        color: white;
    }
    .colored_div li {
        font-size: 17px;
        padding-top: 4px;
        font-weight: 400;
    }
    .colored_div h2 {
        text-align: left;
    }
    .left_aligned_btn_div {
        text-align: left;
        padding-top: 10px;
    }
    .right_aligned_btn {
        background-color: red !important;
        margin-left: 15px;
    }